# Compiled Object files
*.slo
*.lo
*.o
*.yuv

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

videosyuv/*

fvc/nbproject/*

fvc/yuv*
fvc/*.zip

softRef/HM.xcodeproj/*
softRef/nbproject/*
softRef/lib/*
softRef/compat/*
