# Compiled Object files
*.slo
*.lo
*.o
*.yuv

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

videosyuv/*
fvc/bin/*
fvc/nbproject/*
fvc/obj/*
fvc/yuv*
fvc/*.zip

softRef/bin/*
softRef/build/*
softRef/doc/*
softRef/HM.xcodeproj/*
softRef/nbproject/*
softRef/lib/*
softRef/compat/*
