#======== File I/O ===============
InputFile                     : /home/gustavo/videosyuv/riverbed1088p.yuv
InputBitDepth                 : 8           # Input bitdepth
FrameRate                     : 24          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 1920        # Input  frame width
SourceHeight                  : 1080        # Input  frame height
FramesToBeEncoded              : 240         # Number of frames to be coded
